{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<main id="main"  class="d-flex justify-content-center align-items-center align-content-around "style="background: linear-gradient(to bottom, #33ccff 8%, #ff99cc 100%);height:100vh; ">     
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center align-content-around px-2 ">
     
            <div class="col-xl-7 col-md-10 col-12   bg-white p-3 rounded">


<h3 class="text-center">Change Password</h3>
<form method ="POST">
 {% csrf_token %}
 {{ form|crispy }}
 {% comment %} <ul>
 <li>Your password can’t be too similar to your other personal information. </li>
<li>Your password must contain at least 8 characters. </li>
<li>Your password can’t be a commonly used password. </li>
<li>Your password can’t be entirely numeric. </li>
 </ul> {% endcomment %}
 <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-secondary" >Button</button>
  
</div>
 
  </div>
  </div>
          
        </div>
      
    
    </main>
{% endblock %}
